<div *ngIf="movie">
  <mat-card class="card-container">
    <mat-card-title class="text-bold pb-3">{{ movie.title }}</mat-card-title>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="pb-3 pb-md-0">
          <img [src]="movie.img_poster" class="img-fluid" />
        </div>
      </div>
      <div class="col-12 col-md-9">
        <p><span class="text-bold">Year: </span>{{ movie.year }}</p>
        <p><span class="text-bold">Actors: </span>{{ movie.actors }}</p>
        <p><span class="text-bold">Ranking: </span>{{ movie.rank }}</p>
      </div>
    </div>
  </mat-card>
</div>
